@{
    ViewBag.Title = "Map";
}

<style>
    #map {
        height: 80%;
    }

    html, body, .body-content {
        height: 100%;
    }

    # {
  float: left;
  list-style: none;
  text-align: center;
  background-color: #000000;
  margin-right: 30px;
  width: 150px;
  line-height: 60px;
}
</style>
<script>

    //Replace placeholder with points of interests from database.
    var ListOfPointsOfInterests = ["Placeholder"];
</script>
<input type="radio" name="PointOfInterest" value="Mark!">
<label>Walking distance</label>
<input type="radio" name="PointOfInterest" value="Mark!">
<label>points of interests from station</label>
<input type="radio" name="PointOfInterest" value="Mark!">
<label>Walking time</label>

<!-- Fill this ul with "<li>" + ListOfPointsOfInterests + "</li>" -->
<div id="SelectablePointsOfInterests" class="col-md-2">
    <input type="checkbox" name="PointOfInterest" value="Mark!">
    <label>mac donalds</label>
    <br>
    <input type="checkbox" name="PointOfInterest" value="Mark!">
    <label>Subway</label>
    <br>
    <input type="checkbox" name="PointOfInterest" value="Mark!">
    <label>KFC</label>
    <br>
    <input type="checkbox" name="PointOfInterest" value="Mark!">
    <label>Pathé</label>
    <br>
    <input type="checkbox" name="PointOfInterest" value="Mark!">
    <label>de kuip</label>
    <br>
</div>
<div id="map" class="col-md-10"></div>
<script>
    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 51.9182711, lng: 4.4791135 },
            zoom: 12
        });

        // TODO: Set labels from POI type
        var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

        // TODO: Add info for hover
        // TODO: Make clickable for navigation
        var markers = locations.map(function (location, i) {
            return new google.maps.Marker({
                position: location,
                label: labels[i % labels.length]
            });
        });

        var markerCluster = new MarkerClusterer(map, markers, { imagePath: 'img/m' });
    }

    // TODO: Get locations from DB
    var locations = [
        { lat: 51.9244201, lng: 4.4777326 },
        { lat: 51.9159124, lng: 4.4788838 },
        { lat: 51.9210251, lng: 4.4787017 }
    ]
</script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVBgL5foqZkd313a8S7k1gAq7vnkf2v3Q&callback=initMap"></script>