@{
    ViewBag.Title = "Home Page";
}
<style>
	#map {
		height: 80%;
	}

	html, body, .body-content {
		height: 100%;
	}
</style>

<div id="map"></div>

<script src="~/Scripts/MapsFunctions.js"></script>

<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVBgL5foqZkd313a8S7k1gAq7vnkf2v3Q&callback=initMap"></script>
