@{
    ViewBag.Title = "Home";
}

<style>
    div.container.body-content {
        background: grey;
        color: white;
    }

    h1 {
        font-size: 36px;
        margin: 45px auto;
    }

    p {
        font-size: 18px;
    }

    .button {
        background-color: black;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        width: 300px;
        margin: 4px 50%;
        cursor: pointer;
        transform: translateX(-50%);
    }

    .button:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }
</style>

<div>
    <h1>Welcome to the city of Rotterdam</h1>
    <p>Are you lost or do you just need a guide trough the beautiful city? We are here to help you. <br />
    We offer you a lot of public transport routes, fastfood restaurants and ofcourse the points of interests you should not miss while staying in Rotterdam.</p>
</div>
<hr />
<div id="overflow">
    <p>
        <b>How to</b> <br /><br />
        You are now in home, if you press the map tab at the top of the page you will be transported to the map of Rotterdam. Here you got three tabs.
        <br /><br />
        <b>Walking distance</b>
        <br>
        On the map you’ll have destinations, here you can
        select a starting point (This is where you are) and you have to select an endpoint. This is where you want to go. After you selected the 2 destinations the website will calculate the distance from your starting point to your selected endpoint. You’ll see the distance on the screen after the app is done calculating the distance this should not take long at all, it will most likely be instantaneous.
        <br /><br />
        <b>Points of interest from Station</b>
        <br>
        On the map you can select a station of choice.
        After selecting the station, a radius will appear on
        the map with points of interest in that same radius.
        If you click on these points you can view the details of the points of interest. If you want to calculate the walking distance/time you can select one of the appropriate tabs.
        <br></br>
        <b>Walking time</b>
        On the map you’ll have various destinations, you have to select a starting point from where you want to begin. After that you have to select your final destination, when that is done the website will calculate the fastest route to your destination and it will show the time it will take for you to get there.
    </p>    
    <button class="button" onclick="window.location.href = '/Home/Map'">Klik hier om verder te gaan</button>
</div>