@{
    ViewBag.Title = "Home";
}

<style>
    html, body, .body-content {
        height: 100%;
    }

    div.container.body-content {
        background: grey;
        color: white;
    }

    h1 {
        font-size: 36px;
        margin: 45px auto;
    }

    p {
        font-size: 18px;
    }

    .button {
        background-color: black;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 50%;
        cursor: pointer;
    }

    .button:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }
</style>

<div>
    <h1>Welcome to the city of Rotterdam</h1>
    <p>Are you lost or do you just need a guide trough the beautiful city? We are here to help you. <br />
    We offer you a lot of public transport routes, fastfood restaurants and ofcourse the points of interests you should not miss while staying in Rotterdam.</p>
</div>
<hr />
<div>
    <p>
        Allemaal uitleg en shit zoals bijvoorbeeld het lorem ipsum <br /><br />
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pharetra, nisi et vulputate tempus, purus neque sodales metus, id mollis orci mauris ut mauris. Nulla dignissim ipsum nisl. Fusce quis iaculis ante. Suspendisse porttitor erat congue volutpat varius. Curabitur quam tellus, lobortis eu blandit ut, finibus quis libero. Integer a lorem efficitur, consectetur risus ac, pharetra libero. Phasellus ut erat in lectus vehicula hendrerit. Integer eu dolor vel mauris viverra tempor. Mauris tempus odio a elementum porta. Sed auctor elementum sapien at scelerisque. Mauris et porta sem. Curabitur vel pharetra ipsum. Ut facilisis dignissim ultricies. Quisque tincidunt dolor ut diam consectetur lobortis.

        Nam semper blandit augue, ut aliquet tellus suscipit non. Aliquam vitae velit sollicitudin, fermentum turpis quis, pretium risus. Nam consequat tellus eget lacus fringilla, at lobortis ex dapibus. Nulla pulvinar enim ac justo fermentum pretium. Quisque ut tellus eget magna lacinia rutrum. Cras mollis lectus eu nulla convallis molestie sit amet luctus dolor. Sed quis libero id dui pellentesque commodo sed eu leo. Quisque id nulla rhoncus, dapibus ligula et, dapibus nulla. Vivamus dapibus, ante vitae vulputate sodales, est lectus ullamcorper est, sed auctor orci dui et lacus. Suspendisse faucibus commodo purus, sed rhoncus odio luctus vel. Fusce posuere pulvinar diam eget egestas. Integer in felis porttitor, vestibulum dui vitae, euismod dolor. Proin vel tristique arcu. Aliquam at ultricies magna. Phasellus orci mi, mattis et urna vitae, efficitur eleifend dui. Suspendisse molestie hendrerit bibendum.

        Cras iaculis porta risus nec gravida. Fusce rutrum odio eget malesuada vulputate. Aliquam vitae porta metus, euismod tristique nulla. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sollicitudin consectetur dolor, vel imperdiet purus scelerisque ac. Donec egestas fermentum malesuada. Phasellus lobortis suscipit leo, et blandit ipsum porttitor vitae. Pellentesque euismod dapibus nisi ac facilisis. Curabitur lobortis, dui sed pellentesque pulvinar, turpis lacus vestibulum orci, eget vestibulum dui nisl a mi.
    </p>
    <button class="button">Button</button>
</div>



















<!--
<div id="map"></div>
<script>
    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 51.9182711, lng: 4.4791135 },
            zoom: 12
        });

        // TODO: Set labels from POI type
        var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

        // TODO: Add info for hover
        // TODO: Make clickable for navigation
        var markers = locations.map(function (location, i) {
            return new google.maps.Marker({
                position: location,
                label: labels[i % labels.length]
            });
        });

        var markerCluster = new MarkerClusterer(map, markers, { imagePath: 'img/m' });
    }

    // TODO: Get locations from DB
    var locations = [
        { lat: 51.9244201, lng: 4.4777326 },
        { lat: 51.9159124, lng: 4.4788838 },
        { lat: 51.9210251, lng: 4.4787017 }
    ]
</script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVBgL5foqZkd313a8S7k1gAq7vnkf2v3Q&callback=initMap"></script>-->