@{
    ViewBag.Title = "Map";
}

<style>
    #map {
        height: 85vh;
    }
</style>
<<<<<<< HEAD

<div class="row">
    <div class="col-lg-2">
        <button class="btn" name="POI">Walking distance</button>
        <button class="btn" name="POI">points of interests from station</button>
        <button class="btn" name="POI">Walking time</button>
    </div>
    <div class="col-lg-10">
        <div id="map"></div>
    </div>
</div>

=======
<script>
    // **1
    //Replace placeholder with points of interests from database. 
    var ListOfPointsOfInterests = ["Placeholder"];
</script>

<!--
    **10 
    Buttons to change tabs. The buttons are supposed to place a "hidden" tag at all 3 "tabContainer" divs and removes the one that 
    fits the button that is pressed.
-->
<div id="tabButtonsContainer">
    <button class="btn btn-primary" name="PointOfInterest">Walking distance</button>
    <button class="btn btn-primary" name="PointOfInterest">points of interests from station</button>
    <button class="btn btn-primary" name="PointOfInterest">Walking time</button>
</div>
<!--
    Start of the first tab: The walking distance from point A to B.    
-->
<div id="tabContainerWalkingDistance" hidden>
    <div class="col-md-1"></div>
    <div id="startStationSelectionContainerWalkingDistance" class="col-md-6 stationSelectionContainer">
        <span>Start place: </span>
        <select id="startStationSelection">
            <!-- **3 -->
            <option value="trainBlaakDUMMY">Train (blaak) (DUMMY)</option>
            <option value="trainBlaakDUMMY">Train (blaak) (DUMMY)</option>
            <option value="trainBlaakDUMMY">Train (blaak) (DUMMY)</option>
            <option value="trainBlaakDUMMY">Train (blaak) (DUMMY)</option>
        </select>
    </div>

    <div id="destinationStationSelectionContainerWalkingDistance" class="col-md-4 stationSelectionContainer">
        <span>Desired place: </span>
        <select id="destinationStationSelection">
            <!-- **4 -->
            <option value="trainBlaakDUMMY">Train (blaak) (DUMMY)</option>
            <option value="trainBlaakDUMMY">Train (blaak) (DUMMY)</option>
            <option value="trainBlaakDUMMY">Train (blaak) (DUMMY)</option>
            <option value="trainBlaakDUMMY">Train (blaak) (DUMMY)</option>
        </select>
    </div>
    <div id="walkingDistanceDirectionNotation" class="col-md-2">
        <!-- **5 -->
        <span>direction x DUMMY</span>
        <br />
        <br />
        <span>direction x DUMMY</span>
        <br />
        <br />
        <span>direction x DUMMY</span>
        <br />
        <br />
        <span>direction x DUMMY</span>
        <br />
        <br />
        <span>direction x DUMMY</span>
        <br />
        <br />
        <span>direction x DUMMY</span>
        <br />
        <br />
        <span>direction x DUMMY</span>
        <br />
        <br />
    </div>
</div>

<!--
    Start of the second tab: The total points of interests the user is interested in.    
-->
<div id="tabContainerAmountPointsOfInterest" hidden>
    <div id="leftSelectablesContainer"  class="col-md-2">
        <!--
            the radius in kilometers
        -->
        <div id="searchRadiusContainer">
            <span>Radius: </span>
            <br />
            <select id="radiusSelectionInKm">
                <option value="0.5">0.5 km</option>
                <option value="1">1 km</option>
                <option value="2">2 km</option>
                <option value="3">3 km</option>
                <option value="4">4 km</option>
                <option value="5">5 km</option>
                <option value="10">10 km</option>
                <option value="15">15 km</option>
                <option value="20">20 km</option>
            </select>
        </div>

        <!--
            The center point of the radius (the location)    
        -->

        <div id="centerPointStationSelectionContainer">
            <span>Station: </span>
            <select id="centerPointStationSelection">
                <!-- **6 -->
                <option value="trainBlaakDUMMY">Train (blaak) (DUMMY)</option>
                <option value="trainBlaakDUMMY">Train (blaak) (DUMMY)</option>
                <option value="trainBlaakDUMMY">Train (blaak) (DUMMY)</option>
                <option value="trainBlaakDUMMY">Train (blaak) (DUMMY)</option>
            </select>
        </div>

        <!--
        **2
        INFORMATION ON FILLING THE SELECTABLE POINTS OF INTERESTS:
        Fill the id with "selectablePointsOfInterests" with the data from the database. I'd use a for each point of interest loop:
            '<input type="checkbox" id=*databaseVariableName* + "CheckBox" class="selectablePointOfInterest" name="PointOfInterest">
                <label>
                    <script>*databaseVariableName*></script>
                </label>'
        -->

        <div id="selectablePointsOfInterests">
            <input type="checkbox" name="PointOfInterest">
            <label>mc donald (DUMMY)</label>
            <br>
            <input type="checkbox" name="PointOfInterest">
            <label>Subway (DUMMY)</label>
            <br>
            <input type="checkbox" name="PointOfInterest">
            <label>KFC (DUMMY)</label>
            <br>
            <input type="checkbox" name="PointOfInterest">
            <label>Pathé (DUMMY)</label>
            <br>
            <input type="checkbox" name="PointOfInterest">
            <label>de kuip (DUMMY)</label>
            <br>
        </div>
    </div>
</div>

<!--
    Start of the third tab: the walking time from point A to B.
-->
<div id="tabContainerWalkTime">
    <div id="tabContainerWalkingTime">
        <div class="col-md-1"></div>
        <div id="StartStationSelectionContainerWalkingTime" class="col-md-6 stationSelectionContainer">
            <span>Start place: </span>
            <select id="startStationSelectionWalkingTime"
                <!-- **7 -->
                <option value="trainBlaakDUMMY">Train (blaak) (DUMMY)</option>
                <option value="trainBlaakDUMMY">Train (blaak) (DUMMY)</option>
                <option value="trainBlaakDUMMY">Train (blaak) (DUMMY)</option>
                <option value="trainBlaakDUMMY">Train (blaak) (DUMMY)</option>
            </select>
        </div>

        <div id="destinationStationSelectionContainerWalkingTime" class="col-md-4 stationSelectionContainer">
            <span>Desired place: </span>
            <select id="destinationStationSelectionWalkingTime">
                <!-- **8 -->
                <option value="trainBlaakDUMMY">Train (blaak) (DUMMY)</option>
                <option value="trainBlaakDUMMY">Train (blaak) (DUMMY)</option>
                <option value="trainBlaakDUMMY">Train (blaak) (DUMMY)</option>
                <option value="trainBlaakDUMMY">Train (blaak) (DUMMY)</option>
            </select>
        </div>
        <div id="walkingTimeDirectionNotation" class="col-md-2">
            <!-- **9 -->
            <span>direction x DUMMY</span>
            <br />
            <br />
            <span>direction x DUMMY</span>
            <br />
            <br />
            <span>direction x DUMMY</span>
            <br />
            <br />
            <span>direction x DUMMY</span>
            <br />
            <br />
            <span>direction x DUMMY</span>
            <br />
            <br />
            <span>direction x DUMMY</span>
            <br />
            <br />
            <span>direction x DUMMY</span>
            <br />
            <br />
        </div>
    </div>
</div>

<div id="map" class="col-md-10"></div>
>>>>>>> feature/#8-design
<script>
    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 51.9182711, lng: 4.4791135 },
            zoom: 12
        });

        var transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);

        // TODO: Set labels from POI type
        var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

        // TODO: Add info for hover
        // TODO: Make clickable for navigation
        var markers = locations.map(function (location, i) {
            return new google.maps.Marker({
                position: location,
                label: labels[i % labels.length]
            });
        });

        // TODO: Add MarkerCluster images to image folder
        var markerCluster = new MarkerClusterer(map, markers, { imagePath: 'img/m' });
    }

    // TODO: Get locations from DB
    var locations = [
        { lat: 51.9244201, lng: 4.4777326 },
        { lat: 51.9159124, lng: 4.4788838 },
        { lat: 51.9210251, lng: 4.4787017 }
    ]
</script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVBgL5foqZkd313a8S7k1gAq7vnkf2v3Q&callback=initMap"></script>
